.page-intro {
    .content-col {
        .section-title {
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
        }

        .content {
            text-align: center;
        }
    }
}